global
    log stdout format raw local0
    maxconn 4096

defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 5s
    timeout client 1h
    timeout server 1h

# 1. Stats Dashboard (Verification)
frontend stats
    mode http
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
    stats admin if LOCALHOST

# 2. XMPP Client-to-Server (Port 5222)
frontend xmpp_c2s
    bind *:5222
    default_backend ejabberd_c2s_nodes

# 3. HTTP / WebSockets (Port 5280)
frontend xmpp_http
    mode http
    bind *:5280
    option http-server-close
    option forwardfor
    default_backend ejabberd_http_nodes

# --- Backends ---

backend ejabberd_c2s_nodes
    balance roundrobin
    server node_a rediff_ejabberd_a:5222 check
    server node_b rediff_ejabberd_b:5222 check
    server node_c rediff_ejabberd_c:5222 check

backend ejabberd_http_nodes
    mode http
    balance source
    server node_a rediff_ejabberd_a:5280 check
    server node_b rediff_ejabberd_b:5280 check
    server node_c rediff_ejabberd_c:5280 check
